<mat-toolbar class="navbar" *ngIf="_reload" >
    <span class="title">AGOS</span>
    <span class="title" >
      <a mat-button routerLink='classrooms' *ngIf="this.authService.isAdmin()">Salles</a>
      <a mat-button routerLink='notation' *ngIf="this.authService.isAdmin()">Notation</a>
      <a mat-button routerLink='sessions' *ngIf="this.authService.isAdmin()">Sessions</a>
      <a mat-button routerLink='students' *ngIf="this.authService.isAdmin()">Etudiants</a>
      <a mat-button routerLink='professors' *ngIf="this.authService.isAdmin()">Professeurs</a>
      <a mat-button [routerLink] = "['professors', this.userId, 'theses']" *ngIf="this.authService.isProf()">Mes soutenances</a>
      <a mat-button [routerLink] = "['students', this.userId, 'theses']" *ngIf="this.authService.isStudent()">Mes soutenances</a>
    </span>

  <span class="navbar-right" *ngIf="authService.isAuthenticated()">
       {{ firstname }} {{ lastname }}
    </span>
    <span class="navbar-right" *ngIf="authService.isAuthenticated()" >
       <a mat-button (click)="logout()" >Se déconnecter</a>
    </span>
    </mat-toolbar>
