/* global styles to this file */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap")


$lato-slab: 'Lato', sans-serif
$source-sans: 'Source Sans Pro', sans-serif
$primary-color: #066D80
$grey: #333



.title
  font: 100% $source-sans
  font-weight: 800
  color: $primary-color
  margin-left: 160px
/*  margin-top: 100px*/

.navbar
  font: 100% $source-sans
  color: $primary-color
  justify-content: space-between

.navbar-right
  font: 100% $source-sans
  color: $primary-color
  justify-content: space-between
  margin-right: 160px

// .footer
//   display: flex
//   align-items: flex-end
//   color: $grey