.navbar-item
    font-size: 10px
    border: 1px solid #066D80
    margin-left: 12px
    margin-right: 12px
    border-radius: 20px
    &:hover
        color: #066D80

.active-link
    border: 1px solid #066D80
    background-color: #066D80
    color: #ffffff
    margin-left: 12px
    margin-right: 12px
    border-radius: 20px
    &:hover
        color: #fff

.navbar
    padding-top: 60px
    padding-bottom: 12px
    align-items: center

.expand
    background-color: none

mat-toolbar
    background-color: #fff

.dropdownUser
    align-items: center

.fontsettings12
    font-size: 12px
