.mat-title
  color: #066D80

.card-header
  display: flex
  align-items: center
  justify-content: space-between

ul
  list-style-type: none

li
  align-items: center
  font-size: 12px
  margin-top: 10px
  display: flex
  justify-content: space-between
  margin-right: 20px

.grid-container
  margin: 20px

.dashboard-card
  background-color: #EAEAEA
  display: flex
  flex-direction: column
  border-radius: 16px
  position: absolute
  top: 15px
  left: 15px
  right: 15px
  bottom: 15px

.dashboard-card-content
  // background-color: #999
  overflow: auto

::-webkit-scrollbar
  width: 10px

/* Handle */
::-webkit-scrollbar-thumb
  background: #b3b3b3
  border-radius: 10px

.example-form
  min-width: 150px
  max-width: 500px
  width: 100%

.example-full-width
  width: 100%
  border-radius: 16px

.icon
  color: #066D80

.add
  border-radius: 20px
  background-color: #066D80
  color: #fff

.example-full-width
  width: 100%

.form-control
  padding: 10px 10px 10px 10px
  border-width: 0px
  display: initial
  border-radius: 20px
  width: 75%
  margin: 0px 0px 0px 35px
  outline: none

.critere-form-control
  padding: 10px 10px 10px 10px
  border-width: 0px
  display: initial
  border-radius: 20px
  width: 50%
  margin: 0px 0px 0px 35px
  outline: none

.bareme-form-control
  padding: 10px 10px 10px 10px
  border-width: 0px
  display: initial
  border-radius: 20px
  width: 10%
  margin: 0px 0px 0px 35px
  outline: none

.add-button
  border-radius: 20px
  background-color: #066D80
  color: #fff

.criterias-input
  margin: 35px 0px 0px 0px

.bareme-row
  display: initial

.criteria-field
  width: 60%
  margin-right: 10px

.bareme-field
  width: 15%

.button-delete
  margin-left: 15px

.submit_button
  border-radius: 20px
  background-color: #00CCCA
  color: #fff
  align-items: center
  margin-bottom: 2px

.centered
  display: flex
  justify-content: center

.add-button-container
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  margin-bottom: 10px

.groups-display
  justify-content: space-between
