
<div class="container" >
    <h3 >Salles</h3>
    <form action="" class = "example-form">
     
        <input class="form-control" type="text"  name="addRoom" id="addRoom" [(ngModel)]="RoomName" >
        <button mat-mini-fab color="primary" (click)="onAdd()">+</button>
    </form>
    
   
        <div *ngFor="let room of Rooms">
        <li class="list-room">{{room}} </li>
    <button mat-mini-fab color="warn"(click)="onDelete(room)" class="button-delete" >-</button>
       </div>

    
</div>
