
<div class="container" style="
    background-color: #EAEAEA;
    text-align: center;
    margin-top: 100px;
    border-radius: 24px;
    width: 36pc;
    padding-top: 60px;
    padding-bottom: 10px;
">
    <h3 style="color: #066D80;">Salles</h3>
    <form action="" class = "example-form">
     
        <input class="form-control" type="text"  name="addRoom" id="addRoom" [(ngModel)]="RoomName" style="
        display: initial;
        margin-right: 31px;
        border-radius: 20px;
        width: 58%;
        margin-bottom: 25px;
        margin-top: 36px;
    ">
        <button mat-mini-fab color="primary" (click)="onAdd()">+</button>
    </form>
    
   
        <div *ngFor="let room of Rooms">
        <li  style="
        border-radius: 24px;
        display: inline-block;
        background-color: white;
        width: 58%;
        margin-bottom: 5px;
        height: 29px;
    ">{{room}} </li>
    <button mat-mini-fab color="warn"(click)="onDelete(room)" style="margin-left: 36px;
    width: 35px;
    height: 35px;">-</button>
       </div>

    
</div>
