<h3>Département</h3>

<div class="container" >
    <mat-grid-list  cols = "3"  rowHeight = "3:1" >
 
       <mat-grid-tile *ngFor="let department of Departments">
        <div class="departmentItem" >
         <button mat-button routerLink= '../departments/{{department.id}}/formations' >{{department.name}} </button>
         <button mat-icon-button>
          <mat-icon>clear</mat-icon>
      </button>
      </div>
        </mat-grid-tile >
  </mat-grid-list >


</div>
<div class="FormContainer">
<form  class = "example-form">
       <b>Nom :</b> <br/>
        <input class="form-control" type="text"  name="AddNameDeptInput"  [(ngModel)]="DepartmentName" ><br/>
       <b>Description :</b> <br/>
       <textarea class="form-control" name="AddDesDeptInput" [(ngModel)]="DepartmentDescription" rows="3"></textarea><br/>
        <button mat-button class="AddButtonDept" (click)="onAdd()">Créer Département </button>

    </form>
</div>
